.container_login {
    background-image: url(https://images.pexels.com/photos/4577635/pexels-photo-4577635.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    display: flex;
    width: 1685px;
    height: 1200px;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: 1685px 1200px;
    object-fit: fill;


}

.login_form {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 20%;
    height: 100px;
    margin-top: 10%;
    border-radius: 5%;
    justify-content: space-between;
    position: fixed;
    
}

.login_input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5%;
    color: grey;
}
.login_input:focus {
    border-radius: 1px solid rgb(174, 91, 77);
}

.login_btn {
    border-radius: 3%;
    font-weight: bolder;
    background-color: rgb(138, 64, 51);
    color: rgb(32, 25, 25);
    padding: 10px;
    border: none;
}

.login_btn:hover {
    opacity: 0.7;
    cursor: pointer;
    color: rgb(246, 242, 237);
}

